<div class="Navbar">
    <a href="">
        <img src="/SP.ico" alt="Logo">
    </a>
   <div class="Links">
     <a href="Character">Characters</a>
    <a href="API">Update</a>
   </div>
</div>


<style>
    .Navbar{
        display: flex;
        height: 4.5em;
        width: 100vw;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 0 5px #c3c3c3;
    }

    .Navbar a img{
        height: 3.2em;
        width: auto;
    }
    .Navbar .Links{
        display: flex;
        gap: 3em;
    }
    .Navbar .Links a{
        font-size: 19px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 300;
        text-decoration: none;
        color: #222;
    }

</style>