<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
            <%- include('../Components/Icon'); %>

    <title>South Park</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <style>
      body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

       .CardContainer{
        margin-top: 5em;
        width: 90vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
       }

    </style>
  </head>
  <body>
        <%- include('../Components/Navbar'); %>
        
        <div class="CardContainer">
          <% Characters.forEach(function(character) { %>
            <%- include('../Components/Card', { url: character.image, caption: character.name, Location: '/API/Character/' + character.name }); %>
          <% }); %>
        </div>
        
      <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
